MONGODB_URI= mongodb+srv://<username>:<password>@<cluster>.hbcbjg4.mongodb.net/?retryWrites=true&w=majority
DB_NAME = audit_pipeline
PORT = 4000
CLIENT_ORIGIN = http://localhost:5173
WORKER_POLL_INTERVAL_MS = 1000
MIGRATE_BATCH_SIZE = 100
REEVAL_BATCH_SIZE = 100